<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{#if isHome}}
                <a class="nav-link nav-item active" href="/">Home</a>
                {{else}}
                <a class="nav-link" href="/">Home</a>
                {{/if}}
                {{#if isCourses}}
                <a class="nav-link active" href="/courses">Courses</a>
                {{else}}
                <a class="nav-link" href="/courses">Courses</a>
                {{/if}}
                {{#if isAuth}}
                    {{#if isAddCourse}}
                        <a class="nav-link active" href="/addcourses">Add Course</a>
                    {{else}}
                        <a class="nav-link" href="/addcourses">Add Course</a>
                    {{/if}}
                    {{#if isCart}}
                        <a class="nav-link active" href="/cart">Cart</a>
                    {{else}}
                        <a class="nav-link" href="/cart">Cart</a>
                    {{/if}}
                    {{#if isOrder}}
                        <a class="nav-link active" href="/order">Order</a>
                    {{else}}
                        <a class="nav-link" href="/order">Order</a>
                    {{/if}}
                {{/if}}
            </ul>
            <div class="">
                {{#if isAuth}}
                    <a type="submit" class="btn btn-warning" href="/auth/logout">Log Out</a>
                {{else}}
                    <a class="btn btn-warning" href="/auth/login">Login</a>
                {{/if}}
            </div>
        </div>
    </div>
</nav>